body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:714px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4717 {
  position:absolute;
  left:32px;
  top:14px;
  width:375px;
  height:714px;
}
#u4718 {
  position:absolute;
  left:2px;
  top:349px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4721 {
  position:absolute;
  left:32px;
  top:14px;
  width:375px;
  height:64px;
}
#u4722 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u4723 {
  position:absolute;
  left:40px;
  top:20px;
  width:360px;
  height:11px;
}
#u4724 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u4725 {
  position:absolute;
  left:194px;
  top:41px;
  width:41px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u4726 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u4727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u4727 {
  position:absolute;
  left:43px;
  top:46px;
  width:10px;
  height:18px;
}
#u4728 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u4729 {
  position:absolute;
  left:335px;
  top:46px;
  width:65px;
  height:24px;
}
#u4730 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4731 {
  position:absolute;
  left:335px;
  top:46px;
  width:33px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4732 {
  position:absolute;
  left:33px;
  top:679px;
}
#u4732_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4732_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
}
#u4733 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  color:#FFFFFF;
}
#u4734 {
  position:absolute;
  left:0px;
  top:16px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4736 {
  position:absolute;
  left:38px;
  top:0px;
  width:48px;
  height:49px;
  color:#FFFFFF;
}
#u4737 {
  position:absolute;
  left:0px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#8E8E93;
}
#u4738 {
  position:absolute;
  left:38px;
  top:3px;
  width:48px;
  height:32px;
  font-size:24px;
  color:#8E8E93;
}
#u4739 {
  position:absolute;
  left:0px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u4740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#8E8E93;
}
#u4740 {
  position:absolute;
  left:38px;
  top:34px;
  width:48px;
  height:14px;
  font-size:10px;
  color:#8E8E93;
}
#u4741 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4743 {
  position:absolute;
  left:164px;
  top:0px;
  width:48px;
  height:49px;
  color:#FFFFFF;
}
#u4744 {
  position:absolute;
  left:0px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#8E8E93;
}
#u4745 {
  position:absolute;
  left:164px;
  top:3px;
  width:48px;
  height:32px;
  font-size:24px;
  color:#8E8E93;
}
#u4746 {
  position:absolute;
  left:0px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u4747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#8E8E93;
}
#u4747 {
  position:absolute;
  left:164px;
  top:34px;
  width:48px;
  height:14px;
  font-size:10px;
  color:#8E8E93;
}
#u4748 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4750 {
  position:absolute;
  left:291px;
  top:0px;
  width:48px;
  height:49px;
  color:#FFFFFF;
}
#u4751 {
  position:absolute;
  left:0px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#8E8E93;
}
#u4752 {
  position:absolute;
  left:291px;
  top:3px;
  width:48px;
  height:32px;
  font-size:24px;
  color:#8E8E93;
}
#u4753 {
  position:absolute;
  left:0px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u4754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#8E8E93;
}
#u4754 {
  position:absolute;
  left:291px;
  top:34px;
  width:48px;
  height:14px;
  font-size:10px;
  color:#8E8E93;
}
#u4755 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4757 {
  position:absolute;
  left:197px;
  top:679px;
  width:48px;
  height:49px;
  color:#FFFFFF;
}
#u4758 {
  position:absolute;
  left:0px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#007AFF;
}
#u4759 {
  position:absolute;
  left:197px;
  top:682px;
  width:48px;
  height:32px;
  font-size:24px;
  color:#007AFF;
}
#u4760 {
  position:absolute;
  left:0px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u4761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#007AFF;
}
#u4761 {
  position:absolute;
  left:197px;
  top:713px;
  width:48px;
  height:14px;
  font-size:10px;
  color:#007AFF;
}
#u4762 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4763 {
  position:absolute;
  left:66px;
  top:104px;
  width:300px;
  height:96px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4764 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u4765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u4765 {
  position:absolute;
  left:54px;
  top:248px;
  width:314px;
  height:1px;
}
#u4766 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4767 {
  position:absolute;
  left:66px;
  top:274px;
  width:300px;
  height:170px;
}
#u4768 {
  position:absolute;
  left:2px;
  top:53px;
  width:296px;
  word-wrap:break-word;
}
